/* Font */

@font-face {
    font-family: 'andadabold';
    src: url('../fonts/webfontkit-andada-bold/andada-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-andada-bold/andada-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xiomararegular';
    src: url('../fonts/webfontkit-xiomara/xiomara-script-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-xiomara/xiomara-script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

@import url('https://fonts.googleapis.com/css?family=Andada');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: $charcoal-grey;
}
.white-body-text{
    color: $white-text;
}
.small-body-text { 
    font-size: 16px;
}
a{
    color: $theme-green-button;
    &:hover{
        color: $purple-brown;
        text-decoration: none;
    }
}
.form-control {
    color: $charcoal-grey;
}
hr{
    border-top: 1px solid $hr-border;
}
h1{
    font-family: 'andadabold';
    font-size: 72px;
    color: $home-title-text;   
}
h2{
    font-family: 'andadabold';
    font-size: 64px;
    color: $violet-text;
}
h2.white{
    color: $white-text;
}
h2.black {
    color: $charcoal-grey;
}
h2.curvy{
    font-family: 'xiomararegular';
    font-size: 63px;
    line-height: 70px;
    color: $curvy-text;
}
h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 48px;
    color: $charcoal-grey;
}
h3.style-ext{
    font-family: 'andadabold';
}
h3.curvy{
    font-family: 'xiomararegular';
    font-size: 48px;
    line-height: 54px;
    color: $curvy-text;
}
h4{
    font-family: 'andadabold';
    font-size: 36px;
    color: $charcoal-grey;
}
h4.white{
    color: $white-text !important;
}
h4.curvy{
    font-family: 'xiomararegular';
    font-size: 36px;
    line-height: 45px;
    color: $curvy-text;
}
h5{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    color: $charcoal-grey;
    font-weight: bold;
}
h5.brown{
    color: $dark-mauve;    
}
h5.bold{
    font-family: 'andadabold';
    font-size: 24px;
    color: $charcoal-grey;
    font-weight: bold;
}
.curvy-text{
    color: $curvy-text;
}
.contribute-gray-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    color: $placeholder-color;
}
.bold-button-black-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $charcoal-grey;
}
.black-text-normal {
    font-family: 'Noto Sans', sans-serif;    
    font-size: 18px !important;
    font-weight: normal !important;
    color: $charcoal-grey;
}
.white-text-normal {
    font-family: 'Noto Sans', sans-serif;    
    font-size: 18px !important;
    font-weight: normal !important;
    color: #fff;
}
.bold-button-gray-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $placeholder-color;
}
.bold-button-white-text {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: $white-text;
}
.registry-text-Black {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: $charcoal-grey;
}
.product-card-input-text {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-size: 16px;
    color: $placeholder-color;
}
.product-card-price{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-size: 16px;
    color: $dark-mauve;
}
.faq-subheading {
    font-family: 'Noto Sans', sans-serif;
    font-size: 28px;
    color: $charcoal-grey;
    font-weight: bold;
}
.promise-heading{
    font-family: 'Noto Sans', sans-serif;
    font-size: 36px;
    color: $white-text;    
}
.lb-blog-category{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: $pale-teal;
}
.lb-blog-title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: $charcoal-grey;
}
/*Font*/

/* Mixin */

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
  }



/* Mixin */

a{
    transition: all 0.5s ease;
}
.button {
    transition: all 0.5s ease;
}
.full-link {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lb-mandetory-star{
    color: $from-star-color;
    position: relative;
    top: -2px;
}
.lb-error-text{
    color: $from-star-color;
    position: relative;
    top: -2px;
}
/* Grid */

.w-md-25 {
    @media (min-width: 768px){
        width: 25%;
    }
}
.w-md-75 {
    @media (min-width: 768px){
        width: 75%;
    }
}
.w-md-50 {
    @media (min-width: 768px){
        width: 50%;
    }
}
.justify-content-product-xl-start {
    @media (min-width: 1300px){
        justify-content: flex-start !important;
    }
}
.flex-grow {
    flex: 1 0 auto;
}
.h-71{
    height: calc(100% - 150px);
}
.zoom-one-third {
    zoom: .75;
}
.breadcrumb {
    background: transparent;
    font-size: 14px;
    color: #000000;
    a{
        font-size: 14px;
        color: #000000;
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.lb-error-msg {
    position: relative;
    top: 0px;
}
.lb-width-155{
    text-align: center;
    @media (min-width: 992px){
        width: 80px;
    }
    @media (min-width: 1200px){
        width: 130px;
    }
}
.w-65 {
    width: 65% !important;
}