.static-nav-header {
    padding: 20px 0 16px 0;
    border-bottom: 1px solid #cacaca;
    background: $white-text;
    z-index: 100;
    .nav-container {
        max-width: 97%;
        margin: 0 auto;

        @media (min-width: 1280px) {
            max-width: 1250px;
        }

        .nav-left {
            width: 100%;

            @media (min-width: 768px) {
                width: 40%;
            }

            @media (min-width: 992px) {
                width: 67%;
            }

            .navbar {
                padding: 0px;
            }
        }

        .nav-right {
            width: 100%;
            position: relative;
            @media (min-width: 768px) {
                width: 60%;
            }

            @media (min-width: 992px) {
                width: 33%;
            }
        }
    }

    .logo {
        max-width: 118px;
        width: 100%;
    }

    .mob-menu-bg {
        background: $charcoal-grey;
        position: fixed;
        left: 0px;
        top: -100%;
        height: 100%;
        width: 100%;
        z-index: 200;        

        @media (min-width: 992px) {
            background: transparent;
            position: relative;
            left: auto;
            top: auto !important;
            height: auto;
            width: auto;
            overflow-y: visible;
        }
    }

    .main-menu {
        list-style: none;
        padding: 0px;
        margin: 70px auto 0px;
        width: 250px;
        position: relative;
        @media (min-width: 992px) {
            margin-top: 0px;
            width: auto;
        }

        li {
            list-style: none;
            display: block;
            padding: 5px 0px;
            width: 100%;
            text-align: center;
            position: relative;
            @media (min-width: 992px) {
                display: inline-block;
                padding: 0px 6px 0px 6px;
                width: auto;
                text-align: left;
            }

            @media (min-width: 1024px) {
                padding: 0px 8px 0px 8px;
            }

            @media (min-width: 1280px) {
                padding: 0px 15px 0px 15px;
            }

            &:first-child {
                padding-left: 0px;
            }

            &:nth-child(2) {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }

            a {
                font-family: 'Noto Sans', sans-serif;
                font-size: 15px;
                padding: 5px 0px;
                @media (min-width: 992px) {
                    color: $curvy-text;
                }

                @media (min-width: 1280px) {
                    font-size: 18px;
                }

                color: $white-text;
                font-weight: bold;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                    color: $theme-green-button;
                    padding-bottom: 1px;
                    border-bottom: 4px solid $charcoal-grey;
                }
            }
            ul{
                display: none;
                position: relative;
                padding: 0px 0px 0px;
                margin: 10px 0px 0px;
                z-index: 1031;
                background: rgba(139, 209, 206, 0.1);
                @media (min-width: 992px) {
                    display: none;
                    position: absolute;
                    width: 180px;
                    top: 20px;
                    background: $white-text;
                    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
                }  
                li{
                    display: block;
                    padding-left: 0px;
                    padding-right: 0px;
                    a{
                        display: block;
                        width: 100%;
                        font-weight: normal;
                        font-size: 13px;
                        padding: 5px 15px;
                        @media (min-width: 992px) {
                            font-size: 15px;
                        }
                        &:hover{
                            padding: 5px 15px;
                            background: $theme-green-button;
                            color: $charcoal-grey;
                            border: none;
                        }
                    }
                }
            }
            &:hover {
                ul{
                    display: none;
                    @media (min-width: 992px) {
                        display: block;
                    }
                }
            }
        }
    }

    .lb-custom-select {
        width: 100px;

        select {
            background-position: 85.5% center;
        }
    }

    .lb-cross-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        display: block;
    }
    .lb-email-search-cross-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
        display: block;
    }

    .theme-green-button {
        padding: 6px 33px;

        @media (min-width: 768px) {
            padding: 11px 47px;
        }
    }

    .lb-custom-select {
        select {
            height: 38px;

            @media (min-width: 768px) {
                height: 48px;
            }
        }
    }
}

.lb-custom-select {
    select {
        width: 100%;
        height: 48px;
        background: white;
        border: 1px solid $charcoal-grey;
        padding: 0px 10px;
        font-size: 18px;
        color: $charcoal-grey;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(../images/custom-select-dp-arrow.png);
        background-repeat: no-repeat;
        background-position: 96.5% center;
        @include border-radius(2px)
    }
}

.theme-green-button {
    @include border-radius(26px);
    background: $theme-green-button;
    padding: 11px 47px;
    text-align: center;

    &:hover {
        background: $theme-green-button-hover;
    }
}

.btn-create-registry {
    @include border-radius(26px);
    background: $theme-green-button;
    padding: 11px 125px;
    text-align: center;
    border: 2px solid #343434;

    &:hover {
        background: $theme-green-button-hover;
        border: 2px solid $white-text;
    }
}

.btn-create-registry-nb {
    @include border-radius(26px);
    background: $theme-green-button;
    padding: 10px 78px;
    text-align: center;

    &:hover {
        background: $theme-green-button-hover;
    }
}

.btn-signup {
    @include border-radius(26px);
    background: $dark-mauve;
    border: none;
    outline: none;
    height: 48px;
    width: 100%;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background: $purple-brown;
    }
}

.btn-copy-link {
    @include border-radius(2px);
    background: $dark-mauve;
    border: none;
    outline: none;
    height: 48px;
    width: 75px;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background: $purple-brown;
    }
}
.btn-signup-thirdparty {
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 48px;
    width: 100%;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background: $theme-green-button-hover;
    }
}
.btn-addcollaborator {
    @include border-radius(26px);
    background: $dark-mauve;
    border: none;
    outline: none;
    height: 48px;
    width: 256px;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background: $purple-brown;
    }
}
.btn-schedule-delivary {
    @include border-radius(26px);
    background: $dark-mauve;
    border: none;
    outline: none;
    height: 48px;
    width: 300px;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    @media (min-width: 992px) {
        width: 328px;
    }
    &:hover {
        background: $purple-brown;
    }
}
.btn-give-gift {
    @include border-radius(26px);
    background: $dark-mauve;
    border: none;
    outline: none;
    height: 48px;
    width: 214px;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background: $purple-brown;
    }
}
.btn-preview {
    @include border-radius(26px);
    background: transparent;
    border: 3px solid $charcoal-grey;
    outline: none;
    height: 48px;
    width: 160px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 160px;
    color: $charcoal-grey;
    &:hover{
        background: $charcoal-grey;
        color: $white-text;
    }
}
.btn-make-visible {
    @include border-radius(26px);
    background: $make-visible-btn;
    border: none;
    outline: none;
    height: 48px;
    width: 214px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    &:hover{
        background: $dark-mauve;
        color: $white-text;
    }
}
.btn-checkout {
    @include border-radius(26px);
    background: $make-visible-btn;
    border: none;
    outline: none;
    height: 48px;
    width: 180px;
    @media (min-width: 778px) {
        width: 235px;
    }
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    &:hover{
        background: $dark-mauve;
        color: $white-text;
    }
}
.btn-add-gifts {
    @include border-radius(26px);
    background: $theme-green-button;
    padding: 11px 47px;
    text-align: center;
    width: 290px;
    &:hover {
        background: $theme-green-button-hover;
    }
}
.btn-shop {
    @include border-radius(26px);
    background: $theme-green-button;
    padding: 8px 0px;
    text-align: center;
    width: 114px;
    &:hover {
        background: $theme-green-button-hover;
    }
}
.btn-visit-store {
    @include border-radius(26px);
    background: $theme-green-button;
    padding: 8px 0px;
    text-align: center;
    width: 130px;
    &:hover {
        background: $theme-green-button-hover;
    }
}
.btn-add-to-registry {
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 33px;
    width: 187px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    line-height: 20px;
    &:hover{
        background: $theme-green-button-hover;
    }
}
.btn-go-to-cart{
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 48px;
    width: 161px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    line-height: 20px;
    &:hover{
        background: $theme-green-button-hover;
    }
}
.btn-add-to-cart{
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 34px;
    width: 114px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    line-height: 17px;
    &:hover{
        background: $theme-green-button-hover;
    }
}
.btn-contribute{
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 34px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    line-height: 17px;
    &:hover{
        background: $theme-green-button-hover;
    }
}
.btn-continue{
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 48px;
    width: 294px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    line-height: 17px;
    &:hover{
        background: $theme-green-button-hover;
    }
}
.btn-continue-shopping{
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 48px;
    width: 240px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    line-height: 17px;
    &:hover{
        background: $theme-green-button-hover;
    }
}
.btn-place-order{
    @include border-radius(26px);
    background: $make-visible-btn;
    border: none;
    outline: none;
    height: 48px;
    width: 294px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white-text;
    &:hover{
        background: $dark-mauve;
        color: $white-text;
    }
}
.btn-about-registry{
    @include border-radius(26px);
    background: $dark-mauve;
    border: none;
    outline: none;
    height: 48px;
    width: 270px;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        background: $purple-brown;
    }
}
.btn-blog-read-more {
    @include border-radius(26px);
    background: $theme-green-button;
    border: none;
    outline: none;
    height: 48px;
    width: 161px;
    text-align: center;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 48px;
    display: block;
    &:hover {
        color: $white-text;
        background: $theme-green-button-hover;
    }
}
.lb-find-couple {
    background: $charcoal-grey;
    padding: 80px 15px;

    h4 {
        margin: 0px;
    }

    .lb-couple-search {
        width: 100%;
        max-width: 500px;

        @media (min-width: 992px) {
            width: 50%;
            max-width: none;
        }
    }
}

.lb-custom-input {
    height: 48px;
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 12px;
    line-height: 48px;
    width: 100%;
}

.lb-custom-input-border {
    height: 48px;
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 12px;
    line-height: 48px;
    width: 100%;
    border: 1px solid $curvy-text;
}
.lb-db-custom-input-edit {    
    font-family: 'andadabold';
    line-height: 30px;
    font-size: 28px;
    max-width: 280px;
    @media (min-width: 768px) {
        line-height: 42px;
        font-size: 40px;
        max-width: none;
    }
    @media (min-width: 992px) {
        line-height: 66px;
        font-size: 64px;
    }
    color: $charcoal-grey;    
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 12px;
    border: 1px solid $curvy-text;    
}
.lb-db-custom-date-edit {    
    font-family: 'Noto Sans', sans-serif;
    line-height: 27px;    
    height: 27px;    
    @media (min-width: 768px) {        
        line-height: 32px;
        height: 32px;
        max-width: none;
        width: 142px;
    }
    @media (min-width: 992px) {
        line-height: 48px;
        height: 48px;
        max-width: none;
        width: 280px;
    }
    color: $charcoal-grey;    
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 12px;
    border: 1px solid $curvy-text; 
}
.lb-custom-input-border-profile{
    height: 50px;
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 18px;
    line-height: 48px;  
    width: 100%;  
    @media (min-width: 992px) {
        width: 240px;
    }
    border: 1px solid $curvy-text;
}
.lb-big-input-box-470 {
    width: 100%;
    @media (min-width: 1200px) {
        width: 470px;
    }
    
}
.lb-small-input-box-140 {
    width: 140px;
}
.from-star-color {
    color: $from-star-color;
}

.lb-form-layout {
    label {
        margin-bottom: 15px;
        font-weight: bold;
    }
}

.lb-free-delivery {
    padding: 80px 15px;
    background: $charcoal-grey;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: -105px;
        left: -350px;
        z-index: 5;
        width: 754px;
        height: 569px;
        background: url(../images/gr-gifts.png) top left no-repeat;
        display: none;

        @media (min-width: 992px) {
            left: -400px;
            display: block;
        }

        @media (min-width: 1200px) {
            left: -280px;
        }

        @media (min-width: 1350px) {
            left: -180px;
        }

        @media (min-width: 1900px) {
            left: 20%;
            transform: translateX(-50%);
        }

        @media (min-width: 2500px) {
            left: 26%;
            transform: translateX(-50%);
        }

        @media (min-width: 3500px) {
            left: 40%;
            transform: translateX(-50%);
        }
    }
}

.lb-brands-section {
    padding: 80px 15px;

    .container {
        max-width: 1260px;
    }

    .lb-brand-images {
        img {
            @media (max-width: 767px) and (orientation: portrait) {
                max-width: 100%;
            }
        }
    }
}

.lb-questions-section {
    padding: 80px 15px;
    background-color: $dark-mauve;
}

.link-read-more {
    display: block;

    &:hover {
        color: $theme-green-button;
        text-decoration: none;
    }
}

.lb-style-text {
    padding: 0px 15px;

    @media (min-width: 992px) {
        width: 380px;
    }
}

footer {
    background: $charcoal-grey;
    padding: 80px 15px;

    .container {
        max-width: 1275px;
    }

    .lb-social-links {
        a {
            display: block;
            margin: 0 8px;
            font-size: 15px;
            color: #fff;

            &:hover {
                text-decoration: none;
            }

            &:first-child {
                margin-left: 0px;
            }
        }
    }

    .lb-footer-links {
        ul {
            padding: 0px;
            margin: 0px;

            li {
                list-style: none;
                padding: 2px 0 0 0;
                margin: 0px;

                a {
                    font-size: 14px;
                    font-weight: normal;
                    color: #fff;

                    &:hover {
                        text-decoration: none;
                        color: $theme-green-button;
                    }
                }
            }
        }
    }
}

#themeModal {
    .modal-lg {
        @media (min-width: 992px) {
            max-width: 600px;
        }
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-body {
        padding: 0px 60px 60px 50px;
    }

    .modal-content {
        @include border-radius(0px);
    }

    .lb-sign-up-logo {
        width: 120px;

        img {
            width: 100%;
        }
    }
}
#themeModal-store-login {
    .modal-lg {
        @media (min-width: 992px) {
            max-width: 600px;
        }
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-body {
        padding: 0px 60px 60px 50px;
    }

    .modal-content {
        @include border-radius(0px);
    }

    .lb-sign-up-logo {
        width: 120px;

        img {
            width: 100%;
        }
    }
}
#themeModal-gift-added-to-cart {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding: 0px 60px 60px 50px;
    }
    .lb-sign-up-logo {
        width: 120px;

        img {
            width: 100%;
        }
    }
}
#themeModal-gift {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding: 0px 60px 60px 50px;
    }
    .lb-sign-up-logo {
        width: 120px;

        img {
            width: 100%;
        }
    }
}
#themeModal-choose-couple {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding: 0px 60px 60px 50px;
    }
    .lb-sign-up-logo {
        width: 120px;

        img {
            width: 100%;
        }
    }
}
#themeModal-added-cart {
    .modal-lg {
        @media (min-width: 992px) {
            max-width: 654px;
        }
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding: 0px 60px 60px 50px;
    }
    .lb-sign-up-logo {
        width: 118px;
        img {
            width: 100%;
        }
    }
}
#themeModal-not-added-cart {
    .modal-lg {
        @media (min-width: 992px) {
            max-width: 654px;
        }
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding: 0px 60px 60px 50px;
    }
    .lb-sign-up-logo {
        width: 118px;
        img {
            width: 100%;
        }
    }    
}
#themeModal-search-couple {
    .modal-lg {
        @media (min-width: 992px) {
            max-width: 900px;
        }
    }
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding: 0px 60px 60px 60px;
    }
    .lb-sign-up-logo {
        width: 118px;
        img {
            width: 100%;
        }
    }
}
#themeModal-small{
    @media (min-width: 992px){
        .modal-lg {
            max-width: 710px;
        }
    }
    .modal-content {
        @include border-radius(0px);
    }
    .modal-header {
        border-bottom: none;
        padding: 20px 25px 0px;
    }
    .modal-footer {
        border-top: none;
        padding-bottom: 40px;
    }
}
#contributeModal {
    .lb-cross-btn {
        right: 15px;
        top: 15px;
    }    
    @media (min-width: 992px){
        .modal-lg {
            max-width: 1250px;
        }
    }
    .modal-content {
        @include border-radius(0px);
    }
    .modal-header {
        border-bottom: none;
        padding: 20px 25px 0px;
    }
    .modal-footer {
        border-top: none;
        padding-bottom: 40px;
    }
    .lb-contribute-modal-content-left{
        padding: 20px;
        @media (min-width: 768px){
            padding: 70px 70px 70px;
        }        
        border-right: 1px solid $hr-border;
    }
    .lb-contribute-modal-content-right {        
        padding: 20px;
        width: 100%;
        @media (min-width: 768px){
            padding: 30px 70px 30px;
        }
        @media (min-width: 1200px){
            padding: 30px 40px;
            width: calc(100% - 200px);
        }
        
    }
    .lb-contribute-remaining-price{
        font-size: 20px;
        font-weight: bold;
        @media (min-width: 768px){
            font-size: 24px;
        }
    }
    .lb-contribute-total-gift-price {
        font-size: 20px;
        @media (min-width: 768px){
            font-size: 24px;
        }
    }
    .lb-custom-input-border {
        width: 150px; 
        @media (min-width: 768px){
            width: 240px;    
        }
    }
    .lb-custom-select select {
        width: 90px;
        font-size: 15px;
        padding: 0px 20px 0px 10px;
        background-position: 85% center;
    }
    .btn-contribute{
        width: 160px;
        height: 48px;
        font-size: 16px;
    }
}
.lb-custom-input-border{
    height: 48px;
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: 1px solid $bluegrey;
    outline: none;
    padding: 0px 12px;
    line-height: 48px;
    width: 100%;
}
.lb-forgot-password {
    font-size: 12px;
    color: $charcoal-grey;
}
.lb-db-image-holder {  
    width: 270px;
    height: 165px;  
    @media (min-width: 768px){
        width: 465px;
        height: 310px;
    }
    display: block;
    position: relative;
    overflow: hidden;
    .lb-db-profile-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 5;        
    }
    .lb-db-mask-image{
        position: absolute;
        left: 50%;
        top: 52%;
        transform: translate(-50%,-50%);  
        z-index: 6;
        cursor: move;
        width: 150%;
        @media (min-width: 768px){
            width: auto;
        }
    }
}
.lb-login-terms {
    font-size: 18px;
    color: $placeholder-color;

    a {
        color: $pale-teal;
    }
}
.btn-fd{
    background: url(../images/btn-fd-sq.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 150px;
    border: 1px solid #62646f;
    border-right: none;
}
.btn-fd{
    background: url(../images/btn-fd-sq.png);
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 150px;
    border: 1px solid #62646f;
    border-right: none;
}
.btn-cart-fd {
    background: url(../images/btn-brown--fd-sq.png);
    width: 56px;
    height: 54px;
    position: absolute;
    left: -56px;
    top: 200px;
    border: 1px solid $purple-brown;
    border-right: none;
}
.btn-blog-fd {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 150px;
    border: 1px solid #62646f;
    border-right: none;
}
.sub-header {
    padding: 30px 0px;
    margin-top: 89px;
    background: $charcoal-grey; 
    transition: right 0.5s ease; 
    z-index: 90;      
    @media (max-width: 991px) {
        width: 200px;
        height: 100%;
        margin-top: 0px;
        right: -200px;
        left: auto;
        z-index: 110; 
        border-left: 1px solid #62646f;
    }
    &.move-right{
        right: 0px;
    }
    .container {
        max-width: 1360px;
    }
    .sub-header-menu {
        padding: 0px;
        margin: 0px;
        text-align: center;
        width: 98%;
        margin: 0 auto;
        @media (min-width: 1140px) {
            width: 100%;
        }
        li {
            display: inline-block;
            padding: 0px 10px;
            @media (max-width: 991px) {
                display: block;
                text-align: left;
                padding-left: 0px;
                padding-right: 0px;
            }
            @media (min-width: 1140px) {
                padding: 0px 12px;
            }
            @media (min-width: 1300px) {
                padding: 0px 23px;
            }
            &:first-child {
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
            a{
                color: #fff;
                font-size: 14px;
                &:hover{
                    text-decoration: none;
                    color: $theme-green-button;
                    @media (max-width: 991px) {
                        color: $white-text;
                        background: $theme-green-button;
                    }
                }
                @media (max-width: 991px) {
                    padding: 5px 15px;
                    display: block;
                    width: 100%;
                }
                @media (min-width: 1140px) {
                    font-size: 16px;
                }
                @media (min-width: 1300px) {
                    font-size: 16px;
                }
                @media (min-width: 13600px) {
                    font-size: 18px;
                }
            }
            &.active{
                a{
                    text-decoration: none;
                    color: $theme-green-button;
                    @media (max-width: 991px) {
                        color: $white-text;
                        background: $theme-green-button;
                    }
                }
            }
        }
    }
}

.lb-db-overly-green {
    background: rgba(139, 209, 206, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1px;
}

.upload-btn-wrapper {
    position: relative;    
    display: inline-block;
    margin-top: 15px;    
    @media (min-width: 992px) {
        margin-top: 0px;
        top: -100px;
    }
    .btnUP {
        width: 200px;
        height: 200px;
        @include border-radius (200px);
        background: $charcoal-grey;
        color: $white-text;
        background-image: url(../images/add-image.png);
        background-position: center 65px;
        background-repeat: no-repeat;
        outline: none;
        border: 3px solid $white-text;
        position: relative;
        cursor:pointer;
        pointer-events: auto;
        &:before{
            content: "ADD IMAGE";
            position: absolute;
            top: 35px;
            left: 50%;;
            transform: translateX(-50%);           
        }
    }

    input[type=file] {
        font-size: 200px;
        width: 200px;
        height: 200px;;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        overflow: hidden;
    }
}
.lb-profile-pic-wrapper {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    @include border-radius (200px);
    border: 3px solid $white-text;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.2);
}
.white-tooltip{   
    @media (max-width: 1024px) {
        display: none !important;
    }
    top: -30px !important;
    left: -10px !important;
    padding: 0px !important;
    opacity: 1 !important;
    z-index: 1049;
    -webkit-box-shadow: 0px 20px 30px -15px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 20px 30px -15px rgba(0,0,0,0.35);
box-shadow: 0px 20px 30px -15px rgba(0,0,0,0.35);
    .tooltip-inner{
        background: $white-text;
        color: #000;
        @include border-radius(0);
        padding: 15px;
        max-width: 210px;
    }
}
  
.white-tooltip .arrow::before, .white-tooltip .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-width: 2rem .8rem 0;
    border-top-color: #fff;     
}  
.lb-mobile-dropdown {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 9px;
}
.lb-arrow-down {
    background: url(../images/menu-down-arrow.png) center center no-repeat;    
}  
.lb-arrow-up {
    background: url(../images/menu-up-arrow.png) center center no-repeat;    
}  
  
.custom-checkbox {
    z-index: 6;
}
.custom-control-label{
    font-size: 12px;
    color: #212121;
}

.color-checkbox {
    .custom-control-label{
        position: absolute;
    }
}
.custom-checkbox .custom-control-label::before {
    @include border-radius(0px);
    background-color: #fff;    
    border: 1px solid $charcoal-grey;
    width: 24px !important;
    height: 24px !important;
    border: 1px solid $charcoal-grey;
    top: 0;
}

.custom-checkbox.user-profile-checkbox .custom-control-label::before {
    @include border-radius(0px);
    background-color: $bluegrey;    
    border: none;
    width: 29px !important;
    height: 29px !important;
    top: 0;
}

/* Checkbox */

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{   
    background-color: #fff;
    @include border-radius(0px);
    width: 24px !important;
    height: 24px !important;
}
.custom-checkbox .custom-control-label::after {
    width: 24px !important;
    height: 24px !important;
}
.custom-checkbox.user-profile-checkbox .custom-control-label::after {
    width: 29px !important;
    height: 29px !important;
    zoom: normal !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
    background-image: url("../images/tick.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 17px;
    zoom: 1.5;
    top: -4px;
    left: -20px;
}
.custom-checkbox.user-profile-checkbox .custom-control-input:checked ~ .custom-control-label::after{
    background-image: url("../images/tick-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bluegrey;
    width: 18px;
    height: 17px;
    zoom: 1.5;
    top: 0px;
    left: -24px;
}
.user-profile-checkbox{
    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none;
    }
}
.color-checkbox{
    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none;
    }
    .custom-control-label::before {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;       
        border: none;
        width: 24px !important;
        height: 24px !important; 
        background-color: var(--my-color-var);    
    }
    .custom-control-label::after {
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;       
        border: none;
        width: 24px !important;
        height: 24px !important; 
        top: 0;
        left: -1.5rem;
    }
    .custom-control-input:checked ~ .custom-control-label::after {
        background-color: var(--my-color-var);
        zoom: normal;
        top: 0;
        left: -1.5rem;
    }
}
/* Radio */
 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.custom-radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid $theme-green-button;
    border-radius: .25em;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: .5em;
    top: 4px;
}
.custom-radio .cr {
    border-radius: 50%;
}
.custom-radio .cr .cr-icon {
    position: absolute;
    font-size: .6em;
    line-height: 0;
    top: 56%;
    color: $theme-green-button;
    left: 21%;
}
.custom-radio .cr .cr-icon {
    margin-left: 0.04em;
}
.custom-radio label input[type="radio"] {
    display: none;
}
.custom-radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.custom-radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.custom-radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
/* Search */

.lb-search-box{
    width: 100%;
    @media (min-width: 768px) {
        width: 264px
    }
   .form-control{
        border: 1px solid #404352;
        height: 48px;
        @include border-radius(2px);
        border-left: none;
        @include placeholder-color($placeholder-color);
        font-size: 18px;
        &:focus{
            box-shadow: none;
        }
    } 
}
.lb-search-glass{
    border: 1px solid $charcoal-grey;
    background: transparent;
    border-right: none;
    @include border-radius(2px);
    background: url(../images/search-icon-small.png) center center no-repeat;
    padding-left: 13px;
    width: 46px;
    &:focus{
        box-shadow: none;
    }
    &:active{
        background-color: transparent !important;
        border-color : $charcoal-grey !important;
        box-shadow: none !important;
    }
    &:hover{
        background-color: transparent;
    }
}
.lb-sort-dropdown {
    width: 100%;
    @media (min-width: 768px) {
        width: 240px
    }
    .lb-custom-select {
        select {
            background-position: 93.5% center;
        }
    }
}
.lb-filter-set{
    padding-bottom: 18px;
    border-bottom: 1px solid $charcoal-grey;
}
.lb-filter-list {
    ul{
        padding: 0px;
        margin: 0px;
        li{
            padding: 0px;
            margin: 0px;
            list-style: none;
            .filter-lable-text {
                font-family: 'Noto Sans', sans-serif;
                font-weight: normal;
                font-size: 18px;
                color: $charcoal-grey;
                padding-top: 2px;
            }
        }
    }
}
.lb-color-filtter{
    ul {
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 0px 4px 8px 4px;
        }
    }
}
.lb-registry-product-card{
    border: 1px solid $charcoal-grey;
    position: relative;
    width: 100%;
    margin-bottom: 30px; 
    @media (min-width: 1300px) {
        margin-right: 32px;
    }
    &:nth-child(4n){
        .lb-product-card-menu-container {
            left: -145px;            
        }
        @media (min-width: 1200px) {
            margin-right: 0px;
        }
    }
    @media (max-width: 575px) {
        .lb-product-card-menu-container {
            left: -145px;
        }
    }
    @media (min-width: 576px) {
        width: 48%;
        &:nth-child(2n){
            .lb-product-card-menu-container {
                left: -145px;
            }
        }
    }
    @media (min-width: 768px) {
        width: 48%;
        &:nth-child(2n){
            .lb-product-card-menu-container {
                left: -145px;
            }
        }
    }   
    @media (min-width: 1300px) {
        width: 228px;
    }
    min-height: 445px;
    .lb-product-image{
        height: 150px;
        border-bottom: 7px solid $product-image-border;
        overflow: hidden;
        img{
            max-width: 100%;
        }
    }
    &.lb-product-purchased {
        .lb-product-desc {
            padding: 10px 0px;
            min-height: 288px;
        }
    }
    .lb-product-desc {
        padding: 10px;
        min-height: 288px;
    }
    .lb-custom-select{        
        select{
            font-family: 'Noto Sans', sans-serif;
            letter-spacing: 0.1px;
            text-transform: uppercase;
            font-size: 16px;
            color: $placeholder-color;
            height: 34px;
            width: 90px;
            text-transform: none;
        }
    }
    .lb-product-request-input {
        border: 1px solid $charcoal-grey;
        width: 38px;
        height: 34px;
        font-size: 16px;
        text-align: center;
    }
    .lb-product-request-noinput {
        padding: 15px;
        display: block;
    }
    .lb-product-request-text{
        font-size: 16px;
    }
    .lb-product-remaining{
        padding: 15px;
        display: block;
    }
    .registry-text-Black{
        display: block;
    }
    .product-card-input-text {
        display: block;
    }
}
.lb-product-action {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.lb-group-gift-band {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 9;
    width: 100%;
    background: rgba(139, 209, 206, .8);
    font-size: 14px;
    color: #fff;
    padding: 4px 0;
}
.lb-product-card-menu-container {
    position: absolute;
    display: none;
    top: -11px;
    left: 53px;
    background: $white-text;
    width: 175px;    
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.37);
    ul{
        padding: 0px;
        margin: 0px;
        li{
            list-style: none;
            font-size: 12px;
            a{
                display: block;
                width: 100%;
                padding: 5px 12px;
                color: #000;
                &:hover{
                    text-decoration: none;
                    background: $theme-green-button;
                }
            }
        }
    }
}
.lb-category-list {
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        li{
            padding: 0px 5px 0px 5px;
            margin: 0 0 3px  0;
            list-style: none;
            a{
                font-family: 'Noto Sans', sans-serif;
                margin-left: 6px;
                color: $curvy-text;
                font-size: 18px;
                font-weight: bold;
                &:hover{
                    text-decoration: none;
                    color: $theme-green-button;
                }
            }
        }
    }
}
.lb-store-sub{
    background: $store-header;
    .sub-header-menu {
        li{
            position: relative;
            a{
                color: $charcoal-grey;
                &:hover{
                    color: #fff;
                }
            }
            &:nth-child(2){
                &:after{
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid $charcoal-grey;
                    width: 100%;
                    height: 1px;
                    left: 0px;
                    right: auto;
                    bottom: -1px;
                    @media (min-width: 992px){
                        border-right: 1px solid $charcoal-grey;
                        width: 1px;
                        height: 45px;
                        right: 0px;
                        left: auto;
                        top: -8px;   
                    }
                }
            }
        }
    }
    .btn-fd{
        background: url(../images/btn-fd-green-sq.png);
    }
    .btn-bk {
        background: url(../images/btn-bk-green-sq.png);
    }
}
.lb-v-center {
    position: relative;
    top: -2px;;
}
.lb-couple-search-image{
    width: 130px;
    height: 130px;
    @include border-radius(130px);
    overflow: hidden;   
}
.lb-search-couple-info{
    width: 100%;
    @media (min-width: 481px){
        width: calc(100% - 160px);
    }
    @media (min-width: 992px){
        width: calc(100% - 420px);
    }
}
.lb-user-profile-menu{
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        li{
            display: inline-block;
            padding: 0px 15px 0 0;
            list-style: none;
            @media (min-width: 768px){
                padding: 0px;
                margin: 26px 0 0 0;
            }
            a{
                &:hover{
                    color: $theme-green-button;
                }
            }
        }
    }
}
.datepicker-container {
    position: relative;
    #ui-datepicker-div {
        top: 105px !important;
        left: 0px !important;        
        width: 300px;
        padding: 30px 10px;
        transform: none;
        @media (min-width: 768px){
            width: 368px;            
            left: 0px !important;
            padding: 30px 55px;
        }
    }
}
.lb-user-register-link-input {
    @media (min-width: 768px){
        width: 415px;
    }
}
.lb-email-account-search{
    margin: 21px 0px 20px;
    display: none;
    left: 0px;
    top: 2px;
    @media (min-width: 768px){
        width: 346px;
    }
    > div {
    background: #fff;
    }
    .form-control{
        padding-right: 40px;
        padding-left: 5px;
        &:focus {
            z-index: 0;
        }
    }
}

.lb-user-order-prodtct-box {
    padding: 5px;
    @media (min-width: 768px){
        width: 40%;
        font-size: 16px;
    }
}
.lb-user-order-quantity-box {
    padding: 5px;
    @media (min-width: 768px){
        width: 15%;
        text-align: center;
        font-size: 16px;
    }
}
.lb-user-order-registry-box{
    padding: 5px;
    @media (min-width: 768px){
        width: 15%;
        text-align: center;
        font-size: 16px;
    }
}
.lb-user-order-purchase-date-box {
    padding: 5px;
    @media (min-width: 768px){
        width: 15%;
        text-align: center;
        font-size: 16px;
    }
}
.lb-user-order-subtotal-box {
    padding: 5px;
    @media (min-width: 768px){
        width: 15%;
        text-align: center;
        font-size: 16px;
    }
}
.lb-user-order-history {
    
    .lb-user-order-prodtct-box {
        padding: 0px;
        @media (min-width: 768px){
            width: 40%;
            font-size: 16px;           
            font-weight: bold;
        }
        @media (min-width: 992px){
            width: 30%;
            font-size: 16px;            
            font-weight: bold;
        }
    }
    .lb-user-order-quantity-box {
        padding: 5px;
        @media (min-width: 768px){
            width: 15%;
            text-align: center;
            font-size: 16px;
        }
        @media (min-width: 992px){
            width: 17.5%;
            text-align: center;
            font-size: 16px;
        }
    }
    .lb-user-order-registry-box{
        padding: 5px;
        @media (min-width: 768px){
            width: 15%;
            text-align: center;
            font-size: 16px;
        }
        @media (min-width: 992px){
            width: 17.5%;
            text-align: center;
            font-size: 16px;
        }
    }
    .lb-user-order-purchase-date-box {
        padding: 5px;
        @media (min-width: 768px){
            width: 15%;
            text-align: center;
            font-size: 16px;
        }
        @media (min-width: 992px){
            width: 17.5%;
            text-align: center;
            font-size: 16px;
        }
    }
    .lb-user-order-subtotal-box {
        padding: 5px;
        @media (min-width: 768px){
            width: 15%;
            text-align: center;
            font-size: 16px;
        }
        @media (min-width: 992px){
            width: 17.5%;
            text-align: center;
            font-size: 16px;
        }
    }
}
.lb-br-top{
    @media (min-width: 768px){
        border-top: 1px solid $hr-border;
    }
}
.lb-br-bottom{
    @media (max-width: 767px){
        border-bottom: 1px solid $hr-border;
    }
}
.lb-user-ordered-product-image {
    
        width: 154px;
    
    a{
        img{
            max-width: 100%;
        }
    }
}
.lb-user-ordered-product-name {
    width: calc(100% - 154px);
}

.lb-delivery-coordinator {
    padding: 80px 15px;
    background: $white-text;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 50px;
        left: -370px;
        z-index: 5;
        width: 585px;
        height: 569px;
        background: url(../images/gr-gifts-only-box.png) top left no-repeat;
        display: none;

        @media (min-width: 992px) {
            left: -380px;
            display: block;
        }

        @media (min-width: 1200px) {
            left: -280px;
        }

        @media (min-width: 1350px) {
            left: -150px;
        }

        @media (min-width: 1900px) {
            left: 20%;
            transform: translateX(-50%);
        }

        @media (min-width: 2500px) {
            left: 26%;
            transform: translateX(-50%);
        }

        @media (min-width: 3500px) {
            left: 40%;
            transform: translateX(-50%);
        }
    }
}
.lb-purchased-gift-banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    margin-top: 194px;
    @media (min-width: 768px) {
        height: 334px;
        margin-top: 126px;
    }
    @media (min-width: 992px) {
        height: 334px;
    }
    
}
.lb-guest-custom-input-edit {    
    font-family: 'andadabold';
    line-height: 30px;
    font-size: 28px;
    max-width: 280px;
    @media (min-width: 768px) {
        line-height: 42px;
        font-size: 40px;
        max-width: none;
    }
    @media (min-width: 992px) {
        line-height: 66px;
        font-size: 64px;
    }
    color: $charcoal-grey;    
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 12px;
    border: 1px solid $curvy-text;    
}
.lb-guest-custom-date-edit {    
    font-family: 'Noto Sans', sans-serif;
    line-height: 27px;    
    height: 27px;    
    @media (min-width: 768px) {        
        line-height: 32px;
        height: 32px;
        max-width: none;
        width: 142px;
    }
    @media (min-width: 992px) {
        line-height: 48px;
        height: 48px;
        max-width: none;
        width: 280px;
    }
    color: $charcoal-grey;    
    @include border-radius(2px);
    @include placeholder-color($placeholder-color);
    border: none;
    outline: none;
    padding: 0px 12px;
    border: 1px solid $curvy-text; 
}
.lb-cart-table {
    .lb-cart-product{
        @media (min-width: 768px) {
            width: 35%;
        }
    }
    .lb-cart-quantity{
        padding-left: 123px;
        @media (min-width: 768px) {
            width: 16.25%;
            padding-left: 0px;
        }
    }
    .lb-cart-registry{
        padding-left: 123px;
        @media (min-width: 768px) {
            width: 16.25%;
            padding-left: 0px;
        }
    }
    .lb-cart-subtotal{
        padding-left: 123px;
        @media (min-width: 768px) {
            width: 16.25%;
            padding-left: 0px;
        }
    }
    .lb-cart-action {
        padding-left: 123px;
        @media (min-width: 768px) {
            width: 16.25%;
            padding-left: 0px;
        }
    }
    .lb-cart-product-image{
        max-width: 90px;
        img{
            width: 100%;
        }
    }
    .lb-cart-input-text{
        width: 60px;
        height: 29px;
        border: 1 px $charcoal-grey;
        text-align: center;
    }
    .lb-cart-action-remove{
        color: $bluegrey;
    }
    .border-bottom {
        border-bottom: 1px solid $bluegrey !important;
    }
}
.lb-faq-view {
    a{
        font-family: 'Noto Sans', sans-serif;
        font-size: 24px;
        color: $dark-mauve;
        text-transform: uppercase;
    }
}

.add-pading {
    padding-top: 89px;
}
.blog-sub-header {
    &.blog-header-fixed {
        position: fixed;
        top: 89px;
        width: 100%;
    }
    padding: 30px 0px;
    background: $store-header;
    transition: right 0.5s ease; 
    z-index: 90;   
    position: relative;   
    @media (max-width: 991px) {
        width: 200px;
        height: 100%;
        margin-top: 0px;
        right: -200px;
        left: auto;
        z-index: 110; 
        border-left: 1px solid #62646f;
        position: fixed;
        top: 0;
    }
    &.move-right{
        right: 0px;
    }
    .container {
        max-width: 1360px;
    }
    .blog-sub-header-menu {
        padding: 0px;
        margin: 0px;
        li {
            display: inline-block;
            padding: 0px 9px;
            position: relative;
            @media (max-width: 991px) {
                display: block;
                text-align: left;
                padding-left: 0px;
                padding-right: 0px;
            }
            @media (min-width: 1140px) {
                padding: 0px 12px;
            }
            @media (min-width: 1300px) {
                padding: 0px 23px;
            }
            &:first-child {
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
            a{
                color: $charcoal-grey;
                font-size: 14px;
                &:hover{
                    text-decoration: none;
                    color: #fff;
                    @media (max-width: 991px) {
                        color: $white-text;
                        background: $theme-green-button;
                    }
                }
                @media (max-width: 991px) {
                    padding: 5px 15px;
                    display: block;
                    width: 100%;
                }
                @media (min-width: 1140px) {
                    font-size: 16px;
                }
                @media (min-width: 1300px) {
                    font-size: 16px;
                }
                @media (min-width: 1360px) {
                    font-size: 18px;
                }
            }
            &.active{
                a{
                    text-decoration: none;
                    color: $theme-green-button;
                    @media (max-width: 991px) {
                        color: $white-text;
                        background: $theme-green-button;
                    }
                }
            }
            &:nth-child(1){
                &:after{
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid $charcoal-grey;
                    width: 100%;
                    height: 1px;
                    left: 0px;
                    right: auto;
                    bottom: -1px;
                    @media (min-width: 992px){
                        border-right: 1px solid $charcoal-grey;
                        width: 1px;
                        height: 45px;
                        right: 0px;
                        left: auto;
                        top: -8px;   
                    }
                }
            }
        }
    }
    .btn-fd{
        background: url(../images/btn-fd-green-sq.png);
    }
    .btn-bk {
        background: url(../images/btn-bk-green-sq.png);
    }
    .btn-blog-fd {
        background: url(../images/btn-fd-green-sq.png);
    }
    .btn-blog-bk {
        background: url(../images/btn-bk-green-sq.png);
    }
}


