$dark-mauve : #934d6b;
$pale-teal : #8bd1ce;
$purple-brown : #60354b;
$charcoal-grey : #404352;
$bluegrey : #889ea5;
$home-title-text : #924d6a;
$violet-text : #924d6a;
$white-text : #fff;
$curvy-text : #343434;
$theme-green-button : #64c1bd;
$theme-green-button-hover : rgba(97, 197, 192, 0.699);