.lb-static-page-body{
    margin-top: 194px;
    @media (min-width: 768px){
        margin-top: 127px;
    }    
    @media (min-width: 992px){
        margin-top: 90px;
    }
    .container {
        max-width: 1260px;
    }
}
.lb-faq-search{   
    background: $pale-teal;
    min-height: 343px;
    .lb-search-glass{
        border: none;
        background-color: #fff;
        background: url(../images/faq-search-gr.jpg) center center no-repeat;        
    }
    .input-group-append {
        margin-left: -4px;
    }
}
.lb-faq-search-box{
    max-width: 740px;
}

.lb-faq-box {
    max-width: 364px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px $hr-border;
    background: #fff;
    padding: 10px 20px;
    .lb-faq-box-top-image {
        height: 170px;
        img{
            max-height: 100%;
        }
    }
}
.lb-faq-satic-title{
    position: relative;
    display: inline-block;
    img{
        position: absolute;
        bottom: 0;
        left: 0;
    }    
    
}
.lb-accoordian-container {
    h5{
        cursor: pointer;
        word-wrap: break-word;
        width: 90%;    
        line-height: 35px;   
    }
}
.faq-arrow{
    width: 14px;
    height: 21px;
    margin-left: 5px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 25px;
}
.faq-close {
    background: url(../images/faq-close.png) top left no-repeat;

}
.faq-open {
    background: url(../images/faq-open.png) top left no-repeat;
    width: 22px;
    height: 21px;
    top: 15px;
    background-size: contain;
}
.lb-about-title {
    padding: 90px 0 40px 0;
    &:before{        
        @media (min-width: 768px){
            position: absolute;
            content: "";
            width: 194px;
            height: 165px;
            left: 78px;
            top: 120px;
            background: url(../images/about-page-love-gr.jpg) top left no-repeat;
        }
    }
    &:after{
        @media (min-width: 768px){
            position: absolute;
            content: "";
            width: 118px;
            height: 119px;
            top: 140px;
            right: 78px;
            background: url(../images/about-page-love-single-gr.jpg) top left no-repeat;
            }
    }
}
.lb-our-promise{
    background: $pale-teal;
}

.lb-static-main-banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: auto;
    @media (min-width: 768px) {
        height: 365px;
    }
    @media (min-width: 992px) {
        height: 365px;
    }
    
}
.lb-static-main-banner-content{
    position: relative;
    z-index: 2;
}
.lb-static-page-form{
    .lb-static-page-form-side{        
        width: 100%;
        @media (min-width: 768px) {
            width: 45%;
        }
    }
    .lb-static-page-form-full {
        width: 100%;
    }
}
.lb-contact-us-header{
    background: $pale-teal;
}
.lb-contact-method-box{
    background: #fff;
    width: 365px;
}
.lb-method-icon {
    min-height: 130px;
}
.lb-contact-heading{
    @media (max-width: 991px) {
        font-size: 40px !important;
    }
}