.lb-find-couple-banner {
    height: 370px;
    background: $charcoal-grey;
    position: relative;
    margin-top: 143px;
    @media (min-width: 768px) {
        margin-top: 89px;
    }
    @media (min-width: 992px) {
        margin-top: 89px;
    }
    .lb-couple-search {
        width: 300px;
        @media (min-width: 768px) {
            width: 500px;
        }
    }
    &:before{
        content: "";
        position: absolute;
        width: 276px;
        height: 233px;
        left: -70px;
        bottom: -70px;
        background-image: url(../images/green-love-icon.png);
        background-position: center;
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
    &:after{
        content: "";
        position: absolute;
        width: 348px;
        height: 190px;
        left: calc(100% - 30%);
        top: 30px;       
        background-image: url(../images/red-green-love-icon.png);
        background-position: center;
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
}
.lb-couple-listing-container {
    max-width: 785px;
    margin: 0 auto;
    .lb-search-couple-info{
        width: 100%;
        @media (min-width: 768px){
            width: calc(100% - 360px);
        }
        @media (min-width: 992px){
            width: calc(100% - 420px);
        }
    }
}
.lb-user-profile {
    margin-top: 143px;
    @media (min-width: 768px) {
        margin-top: 89px;
    }
    @media (min-width: 992px) {
        margin-top: 175px;
    }
    .container {
        max-width: 1260px;
    }
    &.lb-purchased-gift {
        margin-top: 0px;
    }
}
.lb-user-profile-container{
    padding-top: 90px
}
.lb-user-profile-left {
    width: 100%;
    @media (min-width: 768px){
        width: 230px;
    }
    
    border-right: 1px solid #cacaca;
}

.lb-user-profile-right {
    width: 100%;
    @media (min-width: 768px){
        margin-left: 55px;
        width: calc(100% - 280px);   
    }
    
}
.lb-schedule-free-gift-text{
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
}
.lb-delivery-works {
    background: $theme-green-button;
}
.lb-how-delivary-works {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background: $white-text;
    padding: 15px;
    width: 100%;
    @media (min-width: 768px) {
        width: 33.33%;
    }
    @media (min-width: 992px) {
        width: 290px;
        padding: 50px;        
    }
    .lb-delivary-step {
        @include border-radius (110px);
        width: 110px;
        height: 110px;
        background: $theme-green-button;
        text-align: center;
        h2{
            line-height: 100px;
        }
    }
}
.lb-banner-overlay {
    background: rgba(64,67,82,.47);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.lb-purchased-gift-banner-content {
    z-index: 2;
    h2{
        @media (max-width: 767px) {
            font-size: 40px;
        }
    }
    h4{
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
}
.lb-schedule-button{    
    z-index: 2;
    position: relative; 
    @media (min-width: 992px) {
        position: absolute;
        right: 5%;
        bottom: 35px;
    }
       
}